p {
  text-align: center;
}

#row1 {
  padding-bottom: 30px;
  margin: 10px;
}

#row2 {
  padding-bottom: 30px;
  margin: 10px;
}

#row3 {
  padding-bottom: 15px;
  margin: 10px;
}

#line-graph {
  padding-bottom: 30px;
  padding-top: 10px;
}

h5 {
  text-align: center;
  padding-bottom: 10px;
}

#footnote {
  padding-top: 10px; 
}
