p {
  text-align: center;
}

#se-bar-chart {
  height: 550px;
  width: 750px;
}

#ne-bar-chart {
  height: 550px;
  width: 750px;
}

#n-bar-chart {
  height: 550px;
  width: 750px;
}

#nw-bar-chart {
  height: 550px;
  width: 750px;
}

#sw-bar-chart {
  height: 550px;
  width: 700px;
}

h5 {
  text-align: center;
}
