<div class="container" id="pieChart">
  <p>Average Room Price by Room Type</p>
  <canvas baseChart
              [data]="doughnutChartData"
              [colors]="doughnutChartColors"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<br>
<div class="container" id="se-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>Southeast</p>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [colors]="barChartColors"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
