<div class="container" id="pieChart">
  <p>Average Room Price by Room Type</p>
  <canvas baseChart
              [data]="doughnutChartData"
              [colors]="doughnutChartColors"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>
<br>
<div class="container" id="se-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>Southeast</p>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [colors]="barChartColors"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
<br>
<div class="container" id="ne-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>Northeast</p>
    <canvas baseChart
            [datasets]="neBarChartData"
            [labels]="neBarChartLabels"
            [colors]="neBarChartColors"
            [options]="neBarChartOptions"
            [legend]="neBarChartLegend"
            [chartType]="neBarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="container" id="n-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>North Portland</p>
    <canvas baseChart
            [datasets]="nBarChartData"
            [labels]="nBarChartLabels"
            [colors]="nBarChartColors"
            [options]="nBarChartOptions"
            [legend]="nBarChartLegend"
            [chartType]="nBarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="container" id="sw-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>Southwest</p>
    <canvas baseChart
            [datasets]="swBarChartData"
            [labels]="swBarChartLabels"
            [colors]="swBarChartColors"
            [options]="swBarChartOptions"
            [legend]="swBarChartLegend"
            [chartType]="swBarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="container" id="nw-bar-chart">
  <p><strong>Average Room Price by Neighborhood</strong></p>
  <p>Northwest</p>
    <canvas baseChart
            [datasets]="nwBarChartData"
            [labels]="nwBarChartLabels"
            [colors]="nwBarChartColors"
            [options]="nwBarChartOptions"
            [legend]="nwBarChartLegend"
            [chartType]="nwBarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>
