
<div class="container">
  <br>
  <h1>About Us</h1>


  PDXbnb is an application that will be used as a data visualization tool.


  A big thanks to Tom Slee for scrapping this data from Airbnb and providing it for common use. Airbnb is notoriously tight lipped when it comes to releasing its own data and we believe the people of Portland and those who want to visit should have access to it. You can find all the data, for Portland and multiple cities, <a href="http://tomslee.net/airbnb-data">here</a>.
  <br>
  <br>

<h3>Our Process</h3>
<p>We compiled monthly .csv data that was scrapped from Airbnb from July 2016 to July 2017 (and excludes December 2016); listings with one or no reviews were excluded. Monthly averages by neighborhood was calculated for: accomodates, bedrooms, and price, and the total count by room type. The compiled data was converted into JSON and manually cleaned in order to have the data structure needed to upload to Firebase.</p>

</div>

<br><br><br><br><br><br><br><br><br><br><br>
