.well {
  padding-top: 20px;
  background-color: white;
  font-size: 17px;
  text-align: right;
  font-family: 'Oswald', sans-serif;
}

.navbar1{
  padding-right: 20px;
  width: 100%;
  border-bottom: 2px black solid;
  color: black;
  align-items: left;
  font-family: 'Dosis', sans-serif;
}

ul {
  font-size: 17px;
  list-style: none;
}

h4 {
  text-align: left;
  padding-left: 20px;
  font-size: 30px;
  color: deeppink;
  letter-spacing: 2px;
}

a {
  color: deeppink;
}

a:hover {
   color: grey;
   text-decoration: none;
}
