<div class="container">
  <h1>Form</h1>
  <div class="panel panel-default">
    </div>
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col">
            <div class="md-form mt-0">
              <label>Enter your budget:</label>
              <br>
              <input #newBudget type="number" placeholder="$" class="form-control">
            </div>
          </div>

          <div class="col" id="select">
            <label id="selectLabel" for="">Select a month:</label>
            <div class="md-form mt-0">
              <select class="form-control" #newMonth>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
              </select>
            </div>
          </div>
        </div>
        <p>We are currently lacking data for the month of December, hence why it is missing from the menu. :)</p>
          <br>
          <button (click)="submitFormOne(newBudget.value, newMonth.value); newBudget.value='';"  class="btn btn-pink" >Submit</button>
      </form>
    </div>
  </div>

  <div class="container">
    <p>Data Info</p>
    <div *ngIf="error !== ''" class="panel panel-default">
      <div class="panel-body">
        <p>{{error}}</p>
      </div>
    </div>
      <div *ngIf="result !== null" class="panel panel-default panel-body">
        <p>{{result}}</p>
      </div>
  </div>
