<h2>Welcome to the home page</h2>


<div id="jumbotron1">
    <div>
      <img src="https://images.unsplash.com/photo-1494486607440-c450dde0d9d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad6037fae6a3a5231f5cb810a64e0336&auto=format&fit=crop&w=500&q=60" width="100%" height="500px" hidden/>
      <img src="https://images.unsplash.com/photo-1436505743955-a98c0d3eb1a8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=82154e5d4efa09f5f145f640c8d56f2d&auto=format&fit=crop&w=500&q=60" width="100%" height="500px" hidden/>
      <img src="https://images.unsplash.com/photo-1485420809171-283c31ad7ae5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3f6e21760d97deb8b77d87efc3e0387&auto=format&fit=crop&w=500&q=60" width="100%" height="500px" hidden/>
    </div>
  </div>
